{
    "output": "build/bin/mediatools.phar",
    "chmod": "0755",
    "main": "bin/mediatools-cli.php",
    "banner": [
        "This file is part of the mediatools project.",
        "",
        "(c) Sébastien Vanvelthem",
        "",
        "This source file is subject to the MIT license that is bundled",
        "with this source code in the file LICENSE."
    ],
    "files": [
        "LICENSE.md"
    ],
    "finder": [
        {
            "name": ["*.php"],
            "exclude": ["Tests", "tests"],
            "in": "vendor"
        },
        {
            "exclude": ["Tests"],
            "in": "src"
        },
        {
            "in": "bin"
        },
        {
            "in": "config"
        }
    ],
    "compression": "GZ",
    "compactors": [
        "KevinGH\\Box\\Compactor\\Php"
    ],
    "annotations": false

}
